# Dependencies
node_modules/

# Build outputs
dist/
.turbo/

# Logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*
!.env.example

# Editor
.DS_Store
*.swp
.idea/
.vscode/*
!.vscode/extensions.json

